APP_CODE_PATH_HOST=
APP_CODE_PATH_CONTAINER=
APP_CODE_CONTAINER_FLAG=

NETWORKS_DRIVER=

NGINX_HOST_LOG_PATH=
NGINX_SITES_PATH=
NGINX_HOST_HTTP_PORT=
NGINX_HOST_HTTP_PORTS=

NGINX_PHP_UPSTREAM_CONTAINER=

PHP_PORT=
PHP_VERSION=

MYSQL_VERSION=
MYSQL_DB=
MYSQL_USER_NAME=
MYSQL_USER_PASSWORD=
MYSQL_ROOT_PASSWORD=
DATA_PATH_HOST=

WORKSPACE_TIMEZONE=
